body {
  background-color: lightblue;
  text-align: center;
}
h1 {
  text-align: center;
  color: brown;
  font-size: 50;
}
.brown {
  color: brown;
}
.text-box {
  border: 5px solid black;
  padding: 20px;
  margin: 20px;
}
